<nav class="navbar navbar-expand-md navbar-dark bg-dark bd-navbar">
	<div class="container">
		<a href="/"><span class="navbar-brand">Catalog</span></a>
		<div class="navbar-nav flex-row ml-md-auto">
	  	{% if g.islogin %}
	  		<a class="btn btn-success" href="/gdisconnect">logout</a>
		{% else %}
			<!-- GOOGLE PLUS SIGN IN BUTTON-->
			<div class="google-signin">
				<div id="signInButton">
				    <span class="g-signin"
				      data-scope="openid email"
				      data-clientid="900451959177-0jciq7nf7jv1uhibgd05njd6n152lneu.apps.googleusercontent.com"
				      data-redirecturi="postmessage"
				      data-accesstype="offline"
				      data-cookiepolicy="single_host_origin"
				      data-callback="signInCallback"
				      data-approvalprompt="force">
				    </span>
				</div>
			</div>
			<!--END GOOGLE PLUS SIGN IN BUTTON -->	
		{% endif %}
		</div>
	</div>
</nav>
