<html>
	<head>
		{% include "includes/header.html" %}    
	</head>
	<body>

		<header>
		{% if islogin %}
			<a href="login">login</a>
		{% else %}
			<a href="gdisconnect">logout</a>
		{% endif %}
		</header>
		
		{% include "includes/message.html" %}  

		<a href="/Snowboarding/new">add</a>
		{% for i in items %}
		<a href="/Snowboarding/{{i.id}}">
		<div>
		<p>{{i.name}}</p>
		<p>{{i.description}}</p>
		</div>
		</a>
		 {% endfor %}
		 {% include "includes/footer.html" %}    
	</body>
</html>