<html>
	<head>
		{% include "includes/header.html" %}    
	</head>
	<body>
		{% include "includes/nav.html" %}    
		<div class="container py-3">
			{% include "includes/message.html" %}
			<div class="row">	
				<div class="col-4 catalog-list">
					<div class="clearfix">
						<div class="float-right">
							<a class="btn btn-primary" href="/Snowboarding/new">add</a>
						</div>
					</div>
					<div class="py-3">
						{% for i in catalogs %}
							{% if catalogid and catalogid == i.id %}
							<div class="row py-3 alert-primary catalog">
							{% else %}
							<div class="row py-3 catalog">
							{% endif %}
							<div class="col-6">
							  	<a href="/Snowboarding/{{i.id}}">{{i.name}}</a>
							</div>
							<div class="col-6 text-right">
							 	<a class="btn btn-danger catalog-delete" href="/Snowboarding/{{i.id}}/delete">delete</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-8">
					<div class="py-3">
					{% if catalogid %}
						<div class="clearfix">
							<div class="float-right">
								<a class="btn btn-primary" href="/Snowboarding/{{catalogid}}/new">add</a>
							</div>
						</div>
					{% endif %}
					{% for i in items %}
						<div class="row py-3 item">
							<div class="col-6">
							  	<a href="/Snowboarding/{{catalogid}}/{{i.id}}">{{i.name}}</a>
							</div>
							<div class="col-6 text-right">
							 	<a class="btn btn-danger catalog-item-delete" href="/Snowboarding/{{catalogid}}/{{i.id}}/delete">delete</a>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% include "includes/footer.html" %}    
	</body>
</html>