<html>
	<head>
		{% include "includes/header.html" %}    
	</head>
	<body>
		{% include "includes/nav.html" %}    
		{% include "includes/message.html" %}  
		<div class="container py-3">
			<h3>Add new catalog</h3>
			<form method="POST" action="/Snowboarding/new">
				<div class="form-group">
				    <label for="catalog-name">catalog name:</label>
				    <input type="text" class="form-control" id="catalog-name" name="name" placeholder="Enter catalog name">
			  	</div>
			  	<div class="clearfix"><input  class="btn btn-primary float-right" type="submit" value="add"></div>
			</form>
		</div>
		{% include "includes/footer.html" %}    
	</body>
</html>